@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron intro">
    @*<h1>Magnifinance University</h1>*@
    <div class="space"></div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>In Memoriam</h2>
        <h4>
            Remembering Shawn Neal
        </h4>
        <p>
            Shawn was a computer scientist whose most well-known work focused on explaining the behavior of
            poorly written legacy code in some of its most unusual states. For these efforts, he was awarded
            the Dead Code Prize in CompSci in 2014.
        </p>
    </div>
    <div class="col-md-4">
        <h2>On Campus</h2>
        <h4>
            Students spearhead efforts to predict peak software bugs
        </h4>
        <p>
            "We started this project to collect data on well written software, but ended up creating a
            predictive model of software quality," said Chris Umbel, a doctoral student.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Graduation</h2>
        <h4>
            2020 commencement speaker announced
        </h4>
        <p>
            Jonathan, president of awesome, a member of the Computer Science Hall of Fame’s Class of 2018,
            and a Magnifinance alumnus, will be the featured speaker on Saturday, June 15.
        </p>
    </div>
</div>