@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron intro">
    @*<h1>The College Of Space</h1>*@
    <div class="space"></div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Speacial Things</h2>
        <h4>
           "" Susan Sontag
        </h4>
        <p>
            Do stuff. Be clenched, curious. Not waiting for inspiration’s shove or society’s kiss on your forehead.
            Pay attention. It’s all about paying attention. Attention is vitality. It connects you with others. 
            It makes you eager. Stay eager.
        </p>
    </div>
    <div class="col-md-4">
        <h2>The Quote Of Day</h2>
        <h4>
            ""Andrew Hunt
        </h4>
        <p>
            In some ways, programming is like painting. You start with a blank canvas and certain basic raw materials.
            You use a combination of science, art, and craft to determine what to do with them
        </p>
    </div>
    <div class="col-md-4">
        <h2>Funny Things..</h2>
        <h4>
            Anonymous
        </h4>
        <p>
            Long time ago, people who sacrificed their sleep, family, food, laughter and other luxuries of life were called
            <b>SAINTS</b>.Now, they are called <b>PROGRAMMERS</b>.
        </p>
    </div>
</div>